html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  background: #666;
}

#mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  z-index: -1;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 630px;
  padding-top: 50px;
  background: url('../images/photo-by-honozooloo.jpg');
  background-size: cover;
}

header {
  text-align: center;
}

#headline {
  color: #fff;
  font-size: 72px;
  font-family: helvetica;
  letter-spacing: -1px;
  width: 100%;
  text-shadow: 2px 2px 2px #666;
}

#headline h1 {
  margin: 0;
}

#my-photo {
  width: 200px;
  border-radius: 50%;
  border: 10px solid #ff0;
  margin-top: 40px;
}
