html, body {
  height: 100%;
}

body {
  background: url('../images/photo-by-honozooloo.jpg');
  background-size: cover;
  margin: 0;
  padding-top: 40px;
  overflow: hidden;
}

#mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  z-index: -1;
}

.container {
}

header {
  text-align: center;
}

#headline {
  color: #fff;
  font-size: 72px;
  font-family: helvetica;
  width: 100%;
  text-shadow: 3px 3px 3px #000;
}

#headline h1 {
  margin: 0;
}

#my-photo {
  width: 200px;
  border-radius: 50%;
  border: 10px solid #ff0;
  margin-top: 40px;
}
