html,body {
  height: 100%;
}

body {
  margin: 0 auto;
  background: #000;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  position: relative;
  left: 0;
  width: 1280px;
  margin: 0 auto;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 1280px;
  padding-top: 50px;
  text-align: center;
}

#headline,#my-photo,#links,.modal {
  position: relative;
  z-index: 2;
}

#headline {
  color: #fff;
  font-size: 66px;
  font-family: helvetica;
  letter-spacing: -1px;
  width: 100%;
  text-shadow: 2px 2px 2px #666;
}

#headline h1 {
  margin: 0;
  text-transform: uppercase;
}

#my-photo {
  width: 200px;
  border-radius: 50%;
  border: 10px solid #ff0;
  margin: 40px 0;
}

#links a,span {
  color: #666;
  text-decoration: none;
}

#links.mobile .fa {
  color: #666;
}

#links .fa {
  background: #000;
  border-radius: 50%;
  padding: 5px;
  margin: 0 10px;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

#links .fa:hover {
  color: #e0e0e0;
  cursor: pointer;
}

.youtube, iframe {
  margin: -15px auto;
  width: 1280px;
  height: 720px;
}

iframe:nth-child(n+2) {
  margin-top: -4px;
}

.modal {
  position: relative;
  z-index: 0;
  background: #666;
  width: 320px;
  padding: 20px 10px;
  margin: -130px auto 0 auto;
  text-align: center;
  display: block;
  color: #d3d3d3;
  border-radius: 5px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
}

.modal.active {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  margin-top: -240px;
  z-index: 4;
}

#modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  z-index: 3;
  display: none;
}

.modal input {
  height: 40px;
  width: 300px;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

.modal label {
  font-family: monospace;
}

.mobile {
  display: none;
}

@media (max-width: 1024px) {
  body, header, .container {
    width: 1024px;
  }
  #headline {
    font-size: 38px;
  }
  .youtube, iframe {
    height: 576px !important;
    width: 1024px !important;
  }
}

@media (max-width: 768px) {
  body, header, .container {
    width: 768px;
  }
  #background-video {
    height: 600px
  }
  #background-video iframe {
    display: none;
  }
  header {
    background: url('../images/photo-by-honozooloo.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 510px;
  }
  .youtube, iframe {
    margin-top: -20px;
    height: 432px !important;
    width: 768px !important;
  }
}

@media (max-width: 480px) {
  body, header, .container {
    width: 480px;
  }
  #headline {
    font-size: 24px;
  }
  .youtube, iframe {
    height: 270px !important;
    width: 480px !important;
  }
}

@media (max-width: 360px) {
  body, header, .container {
    width: 360px;
  }
  #headline {
    font-size: 18px;
  }
  .youtube, iframe {
    height: 203px !important;
    width: 360px !important;
  }
}
